*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("background image.png");
}

h1 {
    text-align: left;
    font-size: 48px;
}

h2 {
    margin-left: 10px;
}

img { 
    float: left;
}

header { 
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    margin-bottom: 2%;
}

nav {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: right;
}

#topleft-name {
    margin: 0 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(112, 165, 112);
}

#topleft-name, nav {
    display: inline-block;
    padding-top: 2%; 
    padding-bottom: 2%;
}

img#about-me {
    margin: 10px;
}

main, aside {
    display: inline-block;
}

main {
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
}

aside {
    background-color: white;
    width: 20%;
    float: right; 
    text-align: center;
    margin-right: 7%;
}

img {
    text-align: center;
}

aside > a {
    text-align: center; 
}

section#about-me {
    float: left;
    width: 70%;
    padding-bottom: 3%;
}

section#about-me { 
    background-color: white;
    background-image: none;
    flex: 1;
}

footer {
    position: absolute;
    bottom: 0;
    margin-top: 5px; 
    background-color: green;
    text-align: center;
    border-top-style: groove;
    border-top: 4px groove black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 50%;
    margin-right: 50%; 
}
